header {
    min-height: 60px;
    overflow: hidden;

    .logo-link {
        float: left;
    }
    
    .nav {
        float: right;
        left: 80px;
    }

    .logo-link img {
        float: left;
        height: 60px;
    }

    .logo-link span {
        float: left;
        font-size: 17px;
        margin-top: 38px;
        line-height: 1.4;
        // vertical-align: middle;
        // margin-bottom: 10px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 32px  10px  10px 10px;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
